@import "./layout/normalize.css";
@import "./layout/fonts.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Alegreya_Sans";
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: #0D0D0D;
}

@mixin center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.block-title {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
  &--margin {
    margin-bottom: 10px;
  }
}

.avatar-img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@import "./block/btn";
@import "./block/progress-bar";
@import "./block/text-center";


/*HEADER*/

@import "./block/header";
@import "./block/header-text";
@import "./block/menu";
@import "./block/features";
@import "./block/decor-header";


/*ADVANTAGES*/

.advant {
  height: 650px;
  background: url(../img/why-chocco/leaves-pattern.png) 0% 25% no-repeat, #fff;
  position: relative;
}

@import "./block/card-list";
@import "./block/decor-advant";


/*FEEDBACK*/

.feedback {
  height: 650px;
  position: relative;
}

@import "./block/review";
@import "./block/review-list";
@import "./block/decor-feedback";