@import url(./layout/normalize.css);
@import url(./layout/fonts.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Alegreya_Sans"; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: #0D0D0D; }

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px; }

.block-title {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px; }
  .block-title--margin {
    margin-bottom: 10px; }

.avatar-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.btn {
  color: #FFF;
  background: #0F5A47;
  font-size: 19px;
  text-transform: uppercase;
  padding: 20px 35px;
  line-height: 19px;
  border-radius: 50px;
  font-weight: 800;
  width: fit-content;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25); }

.btn--header {
  color: #0F5A47;
  background: #FFF; }

.progress-bar {
  position: fixed;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 50%;
  right: 45px;
  transform: translate(-50%, -50%); }

.progress-bar__item {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #FFF;
  margin-bottom: 16px;
  position: relative; }
  .progress-bar__item:last-child {
    margin-bottom: 0; }
  .progress-bar__item--active::after {
    content: '';
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #fff;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }

.text-center {
  max-width: 500px;
  margin: auto;
  text-align: center;
  margin-bottom: 50px; }

.text-center__title {
  font-weight: bold;
  font-size: 60px;
  text-transform: uppercase;
  line-height: 60px;
  margin-bottom: 10px; }
  .text-center__title--card {
    text-transform: capitalize;
    font-size: 27px; }

.text-center__desc {
  font-size: 21px;
  color: #666666;
  font-size: 18px; }
  .text-center__desc--card {
    font-weight: 300; }

/*HEADER*/
.header {
  width: 100%;
  display: flex;
  background: url(../img/header/pattern.png) 100% 50% no-repeat, #61c4d9;
  height: 650px;
  color: #fff;
  padding: 10px 0 45px;
  position: relative;
  margin-bottom: 100px; }

.container--header {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.header__text {
  max-width: 500px; }

.header__title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 10px; }

.header__desc {
  font-size: 21px;
  margin-bottom: 33px; }

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row; }

.logo {
  font-family: 'Museo_Sans';
  font-size: 24px;
  line-height: 21px;
  width: 50px;
  font-weight: 500; }

.menu__list {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 40px; }

.menu__item {
  margin-right: 20px;
  font-size: 18px; }
  .menu__item:last-child {
    margin-right: 0; }
  .menu__item a {
    color: #fff; }

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase; }

.phone-img {
  margin-right: 4px; }

.features__list {
  display: flex;
  flex-direction: row;
  max-width: 480px;
  justify-content: stretch; }

.features__item {
  width: fit-content;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto; }
  .features__item:last-child {
    margin-right: 0; }

.features__img svg {
  width: 45px;
  margin-right: 6px;
  fill: none;
  stroke: #B0F7FF;
  stroke-width: 0.5;
  stroke-miterlimit: 10; }

.header__bars {
  position: absolute;
  top: 49%;
  left: 75%;
  transform: translate(-50%, -50%); }

.header__berry1 {
  position: absolute;
  top: 78%;
  left: 67%;
  transform: translate(-50%, -50%); }

.header__berry2 {
  position: absolute;
  top: 99%;
  left: 87%;
  transform: translate(-50%, -50%); }

.header__leaves1 {
  position: absolute;
  top: 70%;
  left: 88%;
  transform: translate(-50%, -50%); }

.header__leaves2 {
  position: absolute;
  top: 96.5%;
  left: 67%;
  transform: translate(-50%, -50%); }

.header__leaves3 {
  position: absolute;
  top: 91%;
  left: 3%;
  transform: translate(-50%, -50%); }

/*ADVANTAGES*/
.advant {
  height: 650px;
  background: url(../img/why-chocco/leaves-pattern.png) 0% 25% no-repeat, #fff;
  position: relative; }

.card-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row; }

.card-list__circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  height: 125px;
  background: #f2f5f4;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 20px; }
  .card-list__circle svg {
    width: 66px;
    fill: none;
    stroke: #2a2a29;
    stroke-width: 0.76;
    stroke-miterlimit: 10; }

.circle-sml {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background: #f2f5f4;
  position: absolute;
  top: 62.5px;
  left: 100%;
  transform: translate(-50%, -50%); }
  .circle-sml::after {
    content: '';
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #f2f5f4;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translate(-50%, -50%); }
  .circle-sml::before {
    content: '';
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #f2f5f4;
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translate(0%, -50%); }

.card-list__item {
  box-sizing: content-box;
  max-width: 300px;
  padding-left: 34px;
  padding-right: 34px;
  position: relative; }
  .card-list__item:last-child {
    padding-right: 0;
    margin-right: 0; }
  .card-list__item:first-child {
    padding-left: 0; }

.advant__raspberries {
  position: absolute;
  top: 77%;
  left: 0%;
  transform: translate(0%, -50%); }

/*FEEDBACK*/
.feedback {
  height: 650px;
  position: relative; }

.review {
  background: url(../img/feedback/rasp-bush.jpg) 100% 0% no-repeat, #F8FAF9;
  display: flex;
  flex-direction: row;
  padding: 50px 0 35px 45px;
  position: relative;
  margin-bottom: 23px; }
  .review::before {
    content: '';
    position: absolute;
    width: 80px;
    height: 50px;
    top: 0%;
    left: 50%;
    border-radius: 50%;
    background: #fff;
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
    transform: translate(-50%, -50%); }

.avatar {
  min-width: 254px;
  height: 260px;
  overflow: hidden;
  margin-right: 20px; }

.review__text {
  margin-top: 15px; }

.review__title {
  font-weight: 500;
  font-size: 30px;
  color: #323232;
  margin-bottom: 34px; }

.review__desc {
  font-size: 18px;
  color: #666666;
  margin-bottom: 34px;
  max-width: 460px; }

.review__name {
  font-size: 18px;
  color: #666666;
  font-weight: 500; }

.review-list {
  display: flex;
  align-items: center;
  justify-content: center; }

.review-list__item {
  cursor: pointer;
  margin-right: 10px;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  overflow: hidden;
  box-sizing: content-box; }
  .review-list__item:last-child {
    margin-right: 0; }
  .review-list__item--active {
    border: 6px solid #0F5A47; }

.feedback__pattern {
  position: absolute;
  top: 94%;
  left: 0%;
  transform: translate(0%, -50%); }

.feedback__berries {
  position: absolute;
  top: 6%;
  right: 1%;
  transform: translate(0%, -50%); }

.feedback__berries2 {
  position: absolute;
  top: 92%;
  left: 0.5%;
  transform: translate(0%, -50%); }

/*# sourceMappingURL=main.css.map */
