.accordion {
  width: 100%;
  color: $white;
  background-image: linear-gradient(
    to bottom,
    rgba(#000, 0.2) 0%, 
    rgba(#000, 0.2) 100%
    ),
    url(../img/accordion/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
}

.container--acord {
  display: flex;
  flex-direction: row;
}

.accord-menu {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: row; 
}

.accord-menu__item {
  display: flex;
  flex-direction: row;
}

.accord__title {
  height: 100vh;
  background-position: center;
}

.title-text {
  width: 2.08em;
  height: 100vh;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 25px;
  font-size: 48px;
}

.accord-menu__item--1 {
  background-image: linear-gradient(
    to bottom,
    rgba(#000, 0.6) 0%, 
    rgba(#000, 0.6) 100%
    ),
    url(../img/accordion/item1.jpg);
}

.accord-menu__item--2 {
  background-image: linear-gradient(
    to bottom,
    rgba(#000, 0.6) 0%, 
    rgba(#000, 0.6) 100%
    ),
    url(../img/accordion/item3.jpg);
}

.accord-menu__item--3 {
  background-image: linear-gradient(
    to bottom,
    rgba(#000, 0.6) 0%, 
    rgba(#000, 0.6) 100%
    ),
    url(../img/accordion/item2.jpg);
};

.accord__cont {
  padding: 25px;
  opacity: 0;
  width: 530px;
  max-width: 530px;
  display: none;
  flex-direction: row;
  background: rgba(47, 50, 52, 0.93);
  &--active {
    display: flex;
    opacity: 1;
  }
}

.accord__text {
  margin-top: 20px;
  margin-right: 50px;
  line-height: 24px;
}

.accord__close {
  width: 18px;
  height: 18px;
  object-fit: cover;
}