.advant {
  background: url(../img/why-chocco/leaves-pattern.png) 0% 50% no-repeat, #fff;
  &::before {
    content: "";
    background: url(../img/why-chocco/raspberries.png);
    position: absolute;
    background-size: cover;
    top: 73%;
    left: 0%;
    width: 10.06rem;
    height: 19.68rem;
  }
} 
