.btn {
  color: $white;
  background: $green;
  font-size: 19px;
  text-transform: uppercase;
  padding: 20px 35px;
  line-height: 19px;
  border-radius: 50px;
  font-weight: 800;
  width: fit-content;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.25);
}

.btn--intro {
  color: $green;
  background: $white;
}