.feedback {
  padding-top: 3.5em;
  &::before {
    background: url(../img/feedback/decor-feedback1.png);
    top: 5%;
    right: 1%;
    width: 9.4rem;
    height: 5.39rem;
  }
  &::after {
    background: url(../img/feedback/decor-feedback2.png);
    top: 76%;
    left: 0%;
    width: 8.68rem;
    height: 20.06rem;
  }
}

.container--feedback {
  align-items: center;
}








