.delivery {
  background-image: url(../img/delivery/pattern.jpg);
  background-size: cover;
  color: $green;
  font-size: 18px;
  display: flex;
  align-items: center;
  &::before {
    background-image: url(../img/delivery/berri.png);
    top: 80%;
    left: 2%;
    width: 48px;
    height: 48px;
  }
  &::after {
    background-image: url(../img/delivery/leave.png);
    top: 72%;
    right: 1%;
    transform: translateY(-50%);
    width: 135px;
    height: 188px;
  }
}

.form-content {
  width: 100%;
  display: flex;
}

.form__col {
  margin-right: 1.11em;
  width: 50%;
  &:last-child {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: 0.83em;
  &:last-child {
    margin-bottom: 0;
  }
}

.form__label{
  display: flex;
  flex-flow: column;
  min-width: 5.55em;
  flex: 1;
  margin-right: 1.11em;
  &:last-child {
    margin-right: 0;
  }
}

.form__input {
  margin-top: 5px;
  padding: 1.11em 0;
  padding-left: 0.62em;
  &:focus{
    outline: #DDE3BD auto 3px;
  }
}

.form__textarea {
  resize: none;
  height: 10.83em;
}

.form__row--btn {
  margin-bottom: 40px;
}

.check__styled {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.38em;
  width: 1.38em;
  background-color: #FFF;
}

.check__styled:after {
  position: absolute;
  left: 35%;
  top: 20%;
  width: 5px;
  height: 9px;
  border: solid $green;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.form__check-label {
  display: block;
  position: relative;
  padding-left: 1.94em;
  margin-bottom: 0.66em;
  cursor: pointer;
}

.form__check-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.check__styled:after {
  content: "";
  position: absolute;
  display: none;
}

.form__check-input:checked + .check__styled:after {
  display: block;
}

.form__row--radio {
  margin-bottom: 0.55em;
}

.form__radio-label{
  margin-right: 1.11em;
  vertical-align: middle;
  &:last-child {
    margin-right: 0;
  }
}

.form__radio-input{
  display: none;
}

.radio__styled{
  vertical-align: middle;
  position: relative;
  display: inline-block;
  width: 1.38em;
  height: 1.38em;
  margin-right: 0.16em;
  border-radius: 50%;
  background: #FFF; 
  transition-duration: .2s;
}

.radio__styled::before{
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 0.77em;
  width: 0.77em;
  border-radius: 50%;
  background: $green;
  opacity: 0;
  transition-duration: .2s;
}

.form__radio-input:checked + .radio__styled::before{
  opacity: 1;
}