@media screen and (max-width: 768px) {
  .header .contact {
    display: none;
  }
  .menu {
    display: none;
  }
  .container {
    padding: 0 1.5em;
  }
  .menu-icon {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  
}