.intro {
  width: 100%;
  display: flex;
  background: url(../img/intro/pattern.png) 100% 50% no-repeat, #61c4d9;
  color: #fff;
  padding-bottom: 45px;
  padding-top: 0.62em;
  &::before {
    content: "";
    background: url(../img/intro/decor-intro2.png);
    z-index: 10;
    position: absolute;
    top: 91%;
    left: 3%;
    width: 59px;
    height: 112px;
  }
  &::after {
    z-index: 10;
    content: "";
    background: url(../img/intro/decor-intro1.png);
    position: absolute;
    top: 61%;
    right: 1%;
    width: 460px;
    height: 341px;
  }
}

.container--intro {
  height: auto;
  display: inline-flex;
}

.split {
  display: inline-flex;
  flex: 1;
}

.split__block {
  flex: 1;
  display: flex;
  &--left {
    align-items: center;
  }
  &--right {
    align-items: flex-start;
    justify-content: flex-end;
  }
}
