.intro__text {
  max-width: 31.25em;
}

.intro__title {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0;
  font-size: 60px;
  margin-bottom: 0.16em;
}

.intro__desc {
  font-size: 21px;
  margin-bottom: 1.57em;
}
