@media screen and (max-width: 768px) {
  .review {
    max-width: 28.75em;
    max-height: 37.5em;
    flex-direction: column;
    text-align: center;
    padding-left: 2.37em;
    padding-right: 2.37em;
  }
  .review-list__item {
    width: 5.25em;
    height: 5.25em;
    &--active {
      border: 0.5em solid #0f5a47;
    }
  }
  .avatar--review {
    margin-right: 0;
    margin-bottom: 0.93em;
  }
  .review__title {
    margin-bottom: 0.87em;
  }
  .feedback {
    &::before {
      top: 2%;
      right: -2%;
    }
    &::after {
      top: 82%;
      left: -2%;
    }
  }
  .container--feedback {
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 480px) {
  .block-title {
    font-size: 40px;
  }
  .avatar {
    width: 10.41rem;
    height: 10.41rem;
  }
  .review-list__item {
    width: 4.25em;
    height: 4.25em;
  }
  .feedback {
    &::after {
      top: 84%;
      left: -5%;
    }
  }
}
