@media screen and (max-width: 768px) {
  .slider-block {
    flex-direction: column;
    padding-top: 80px;
    &::before,
    &::after {
      display: none;
    }
  }
  .slider__item {
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-right: 80px;
  }
  .comp {
    position: absolute;
    top: -9%;
    right: -2%;
  }
  .slider-col {
    padding-left: 0;
    width: 100%;
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .slider__text {
    text-align: center;
  }
  .slider__desc {
    max-width: 33.05em;
  }
  .price {
    margin: 0.41em auto;
  }
  .slider__img {
    width: 18.12em;
  }
  .charact {
    text-align: left;
  }
  .slider__title {
    font-size: 30px;
  }
  .arrow {
    top: 24%;
    left: 77%;
    &--left {
      left: unset;
      right: 77%;
    }
  }
}

@media screen and (max-width: 480px) {
  .arrow {
    position: absolute;
    height: auto;
    right: -8%;
    top: 17%;
    left: unset;
    &--left {
      left: -8%;
      right: unset;
    }
  }
  .slider__item {
    margin-right: 80px;
  }
  .comp {
    position: absolute;
    top: -10%;
    right: -7%;
  }
  .slider__desc {
    max-width: unset;
  }
}
