@media screen and (max-width: 768px) {
  .team {
    &::before {
    top: -17%;
    right: -4%;
    }
    &::after {
      top: 98%;
      left: 4%;
    }
  }
  .team__item {
    width: 228px;
    margin-bottom: 1.56em;
  }
  .container--team {
    padding-top: 4.37em;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 480px) {
  
}
