@media screen and (max-width: 768px) {
  .accord-menu__item {
    &--active {
      margin-right: calc(100vw - 100px * 3);
    }
  }

  .accord__cont {
    width: calc(100vw - 100px * 3);
  }
}

@media screen and (max-width: 480px) {
  .accord-menu {
    width: fit-content;
  }
  .accord-menu__item {
    position: relative;
    &--active {
      left: 0;      
    }
  }
  .accord__cont {
    width: calc(100vw - 100px);
  }
  .accord__cont {
    position: absolute;
    left: 6.25em;
    top: 0%;
    max-width: 380px;
    width: max-content;
    height: 100%;
    z-index: 20;
  }
  .accord-menu__item {
    justify-content: flex-start;
  }
  .accord-menu {
    position: absolute;
    width: 100%;
    justify-content: flex-end;
  }
  .accord-menu__item--active {
    width: 100%;
  }
}
