.features {
  display: flex;
  width: 30em;
  justify-self: flex-end;
  justify-content: stretch;
}

.features__item {
  max-width: 10.31em;
  font-size: 16px;
  display: flex;
  justify-content: center;
  margin: auto;
  &:last-child {
    margin-right: 0;
  }
}

.features__img {
  height: 2.81em;
  width: 2.81em;
  margin-right: 0.37em;
  fill: none;
  stroke: #b0f7ff;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}
