.card-list {
  @include center-flex;
  flex-direction: row;
}

$circle-size: 125px;
.card-list__circle {
  @include center-flex;
  width: $circle-size;
  height: $circle-size;
  background: #f2f5f4;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 20px;
  svg {
    width: 66px;
    fill: none;
    stroke: #2a2a29;
    stroke-width: 0.76;
    stroke-miterlimit: 10;
  }
}

.circle-sml {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background: #f2f5f4;
  position: absolute;
  top: $circle-size / 2;
  left: 100%;
  transform: translate(-50%, -50%);
  &::after {
    content: '';
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #f2f5f4;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translate(-50%, -50%);
  }
  &::before {
    content: '';
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #f2f5f4;
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translate(0%, -50%);
  }
}

.card-list__item {
  box-sizing: content-box;
  max-width: 300px;
  padding-left: 34px;
  padding-right: 34px;
  position: relative;
  
  &:last-child {
    padding-right: 0;
    margin-right: 0;
  }
  &:first-child {
    padding-left: 0;
  }
}