.feedback__pattern {
  position: absolute;
  top: 94%;
  left: 0%;
  transform: translate(0%, -50%);
}

.feedback__berries {
  position: absolute;
  top: 6%;
  right: 1%;
  transform: translate(0%, -50%);
}

.feedback__berries2 {
  position: absolute;
  top: 92%;
  left: 0.5%;
  transform: translate(0%, -50%);
}