.bars {
  position: absolute;
  top: 49%;
  left: 75%;
  transform: translate(-50%, -50%);
}

.berry1 {
  position: absolute;
  top: 78%;
  left: 67%;
  transform: translate(-50%, -50%);
}

.berry2 {
  position: absolute;
  top: 99%;
  left: 87%;
  transform: translate(-50%, -50%);
}

.leaves1 {
  position: absolute;
  top: 70%;
  left: 88%;
  transform: translate(-50%, -50%);
}

.leaves2 {
  position: absolute;
  top: 96.5%;
  left: 67%;
  transform: translate(-50%, -50%);
}

.leaves3 {
  position: absolute;
  top: 91%;
  left: 3%;
  transform: translate(-50%, -5);
}