.menu {
  @include center-flex;
  flex-direction: row;
}

.logo {
  font-family: 'Museo_Sans';
  font-size: 24px;
  line-height: 21px;
  width: 50px;
  color: #fff;
  font-weight: 500; 
  a {
    color: #fff;
  }
}

.menu__list {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 40px;
}

.menu__item {
  color: #fff;
  margin-right: 20px;
  font-size: 18px;
  &:last-child {
    margin-right: 0;
  }
  a {
    color: #fff;
  }
}

.contact {
  font-family: 'Alegreya_Sans';
  @include center-flex;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
}

.phone-img {
  margin-right: 4px;
}