.review-list {
  @include center-flex;
}

.review-list__item {
  cursor: pointer;
  margin-right: 10px;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  overflow: hidden;
  box-sizing: content-box;
  &:last-child {
    margin-right: 0;
  }
  &--active {
    border: 6px solid #0F5A47;
  }
}