.btn {
  display: inline-block;
  border: none;
  color: $white;
  background: #0F5A47;
  font-size: 19px;
  text-transform: uppercase;
  padding: 20px 35px;
  line-height: 19px;
  border-radius: 50px;
  font-weight: 800;
  width: fit-content;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.25);
  outline: none;
  transition: .5s;
  cursor: pointer;
  &:hover {
    background: #0B4D3C;
  }
}

.btn--intro {
  color: $green;
  background: $white;
  &:hover {
    background: $white;
  }
}

.btn--clear {
  background: none;
  font-size: 18px;
  font-weight: normal;
  color: $green;
  box-shadow: none;
  text-transform: none;
  &:hover {
    background: none;
  }
}